<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="alternate" type="application/atom+xml" title="Atom" href="/til/feed.atom?_feed_title=Filip+Korling+TIL">
<title>Filip Korling: TIL</title>
<style>
body {
    box-sizing: border-box;
    font-family: helvetica;
    padding: 1em;
    max-width: 800px;
    line-height: 1.5em;
}
input[type=search] {
    padding: .25em;
    font-size: 0.9rem;
    width: 60%;
}

input[type=submit] {
    box-sizing: border-box;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    padding: .5em 0.8em;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: .25rem;
}
</style>
</head>
<body>

<h1>Filip Korling: TIL</h1>
<p>Things I've learned, collected in <a href="https://gitlab.com/fkorling/til/">fkorling/til</a>.</p>

<p><a style="text-decoration: none" href="/til/feed.atom?_feed_title=Filip+Korling+TIL" title="Atom feed"><svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 256 256">
    <defs>
    <linearGradient id="a" x1=".1" x2=".9" y1=".1" y2=".9">
        <stop offset="0" stop-color="#E3702D" />
        <stop offset=".1" stop-color="#EA7D31" />
        <stop offset=".4" stop-color="#F69537" />
        <stop offset=".5" stop-color="#FB9E3A" />
        <stop offset=".7" stop-color="#EA7C31" />
        <stop offset=".9" stop-color="#DE642B" />
        <stop offset="1" stop-color="#D95B29" />
    </linearGradient>
</defs>
<rect width="256" height="256" fill="#CC5D15" rx="55" ry="55" />
<rect width="246" height="246" x="5" y="5" fill="#F49C52" rx="50" ry="50" />
<rect width="236" height="236" x="10" y="10" fill="url(#a)" rx="47" ry="47" />
<circle cx="68" cy="189" r="24" fill="#FFF" />
<path fill="#FFF" d="M160 213h-34a82 82 0 0 0-82-82V97a116 116 0 0 1 116 116z" />
<path fill="#FFF" d="M184 213A140 140 0 0 0 44 73V38a175 175 0 0 1 175 175z" />
    </svg> Atom feed</a></p>

<p><strong>Recently added:</strong> {% for row in sql("select * from til order by created_utc desc limit 5") %}<a href="{{ row.url }}">{{ row.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>

<form action="/til/search">
    <p>
        <input type="search" name="q">
        <input type="submit" value="Search">
    </p>
</form>

{% for row in sql("select distinct topic from til order by topic") %}
    <h2>{{ row.topic }}</h2>
    <ul>
        {% for til in sql("select * from til where topic = :topic order by created_utc", {"topic": row.topic}) %}
            <li><a href="{{ til.url }}">{{ til.title }}</a> - {{ til.created[:10] }}</li>
        {% endfor %}
    </ul>
{% endfor %}

</body>
</html>
